[Unit]
Description=Start monitoring frames
After=NetworkManager-wait-online.service

[Service]
Environment=PYTHONPATH=/home/pi/.local/lib/python2.7/site-packages/
WorkingDirectory=/home/pi/Code/rasmon
ExecStart=/home/pi/Code/rasmon/rasmon
ExecStop=kill -9 `ps -aux | grep rasmon | grep -v grep | awk '{ print $2 }'`
Restart=always
RestartSec=3

[Install]
WantedBy=default.target

